LC_AGENT_ID=<REPLACE_WITH_AGENT_ID>
LC_AGENT_TOKEN_FILE=/run/secrets/agent_token
LC_COLLECTOR_URL=https://collector.example.invalid
LC_SUBSCRIPTION_URL_FILE=/run/secrets/subscription_url
LC_STATE_KEY_FILE=/run/secrets/state_key
LC_STATE_DIR=/var/lib/litechecker
LC_XRAY_BINARY=/usr/local/bin/xray
LC_EXPECTED_XRAY_VERSION=26.3.27
LC_AGENT_HEALTH_MAX_AGE_SECONDS=1500
LC_INTERVAL_SECONDS=600
LC_RUN_DEADLINE_SECONDS=480
LC_PROBE_TIMEOUT_SECONDS=12
LC_TCP_TIMEOUT_SECONDS=3
LC_MAX_CONCURRENCY=4
LC_MAX_SUBSCRIPTION_BYTES=5242880
LC_MAX_ENDPOINTS=2000
LC_ALLOW_PRIVATE_TARGETS=false
LC_ALLOW_INSECURE_COLLECTOR=false
